/* Header */
#home header {
  background-size: auto;
}
.main-header {
  background-color: blanchedalmond;
  width: auto;
  margin: 2em;
}
.main-header .logo img {
  width: 100px;
  float: left;
}
/* Navigation */
.main-menu {
  margin-left: px;
  font-weight: bold;
}
.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 25px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 100px;
  text-transform: uppercase;
  font-size: 20px;
}
.main-menu ul li a {
  text-decoration: none;
  color: black;
}
.main-menu ul li a:hover {
  opacity: 70%;
}
.main-menu ul li.active {
  background: #e9dd72;
  border: none;
}
.main-menu ul li.active a {
  color: #666;
}
/* main */
main {
  font-family: Arial, Helvetica, sans-serif;
}
main h1,
h2,
h3 {
  color: black;
}
/* footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: seashell;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
}
footer input[type="submit"] {
    width: 100px;
    background: cornflowerblue;
    height: 30px;
    margin-top: 2em;
}
footer input[type="text"] {
    width: 400px;
    text-align: center;
    height: 30px;
    margin-top: 2em;
}

footer .copy {
    margin-top: 20px;
    font-size: 14px;
    float: left;
    padding-bottom: 10px;

}
footer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 80%;
  float: right;
  
}
footer .social .fa:hover {
  opacity: 0.7;
}
footer .social .fa-facebook {
  background: #3b5998;
  color: white;
}
footer .social .fa-instagram {
  background: #55acee;
  color: white;
}
footer .social .fa-twitter {
  background: #125688;
  color: white;
}

/* Categories */
.categories {
  width: 580px;
  text-align: center;
  display: flex;
}
figcaption {
  background: seashell;
  font-weight: bold;
  padding: 10px;
}
/* Products */

table {
  width: 1000px;
  margin: 4em auto 0 auto;
}
caption {
  background: #852b1b;
  height: 40px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}
thead {
  background: #bde1ff;
}
td {
  background: #eeffe6;
  text-align: center;
}
th td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px #852b1b;
}
table {
  margin-bottom: 2em;
}

/* form */


form #formtext{
    color: slateblue;
    font-size: 14px;
}
.textbox input[type="text"],
.textbox input[type="email"]  {
  width: 250px;
  border: 1px solid black;
  height: 200px;
}
span.contactinfo2 {
  font-weight: bold;
}
.email {
  padding-bottom: 15px;
}
fieldset {
  border: 2px solid #9ed034;
  margin: 0 7em 1em 7em ;
}
legend {
  color: #4977d1;
  font-weight: bold;
  font-size: 30PX;
  text-transform: uppercase;
  background-color: #fff;
  text-align: center;
}
label {
  display: block;
  margin: 15px 0 0 0;
  font-weight: bold;
  font-size: 0.9em;
  padding-bottom: 10px; 
}
fieldset input[type="submit"],
input[type="reset"] {
    background: cornflowerblue;
    width: 8em;
    display: block;
    margin-top: 2em;
}

